# Virtual Environments
venv/
venv_detection/
venv_generation/

# Datasets and Large Files
dataset/
detection/dfdc_train_part_49/
detection/Modified Dataset/
*.mp4
*.onnx
*.csv

# Python cache
__pycache__/

# IDE files
.vscode/